statemachine/board-import.asl.json
{
  "Comment": "Import a board from JSON including columns, tickets, and invite emails",
  "StartAt": "ValidateImport",
  "States": {
    "ValidateImport": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateImportFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "CreateBoard"
    },
    "CreateBoard": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CreateBoardFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "CreateColumns"
    },
    "CreateColumns": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CreateColumnsFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "CreateTickets"
    },
    "CreateTickets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CreateTicketsFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "SendInvites"
    },
    "SendInvites": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SendInvitesFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "End": true
    }
  }
}
